<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>

    <%- include('./partials/nav.ejs')  %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta repellendus illo blanditiis facere qui voluptates tenetur fugiat, neque nemo earum esse porro ratione? Adipisci optio illo facilis magnam, debitis minus!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta repellendus illo blanditiis facere qui voluptates tenetur fugiat, neque nemo earum esse porro ratione? Adipisci optio illo facilis magnam, debitis minus!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta repellendus illo blanditiis facere qui voluptates tenetur fugiat, neque nemo earum esse porro ratione? Adipisci optio illo facilis magnam, debitis minus!</p>

    </div>

    <%- include('./partials/footer.ejs')  %>

</body>
</html>